{% extends 'rr_app/auth_base.html' %}
{% load static %}
{% block title %}Forgot Password - Restaurant Reservation{% endblock %}

{% block content %}
<p id="fPass">Reset Password</p>
<form>
  <input type="email" id="email" placeholder="Email address" required>
  <input type="button" value="Send Reset Email" id="btnSubmit">
  <p class="success-msg" id="successMsg" style="display: none;"></p>
  <p class="error-msg" id="errorMsg"></p>
  <p class="signin">Remember your password? <a href="{% url 'login' %}">Sign in</a></p>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'rr_app/js/SupabaseAuth.js' %}"></script>
<script src="{% static 'rr_app/js/ForgotPassword.js' %}"></script>
{% endblock %}