{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Reservation - Sign In</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'rr_app/css/login.css' %}">
</head>
<body>
    <div class="logo">
        <img src="{% static 'rr_app/images/cloche.png' %}">
        <p class="title">RESTAURANT</p>
        <p class="subtitle">RESERVATION</p>
    </div>
    <div class="container">
        <p class="signin">Sign In</p>
        <form id="loginForm">
          <input type="email" id="email" placeholder="Email address" required>
          <input type="password" id="password" placeholder="Password" required>
          <a class="fpass" href="#">Forgot Password?</a>
          <input type="button" value = "Submit">
          <p class="signup">Don't have an account? <a href="#">Sign up</a></p>
          <p class="error-msg" id="errorMsg"></p>
        </form>
    </div>
  <script src="{% static 'rr_app/js/login.js' %}"></script>
</body>
</html>
