{% extends 'rr_app/auth_base.html' %}
{% load static %}
{% block title %}Sign In - Restaurant Reservation{% endblock %}

{% block content %}
<p class="signin">Sign In</p>
<form id="loginForm">
  <input type="email" id="email" placeholder="Email address" required>
  <input type="password" id="password" placeholder="Password" required>
  <a class="fpass" href="#">Forgot Password?</a>
  <input type="button" value="Submit" id="btnSignin">
  <p class="signup">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
  <p class="error-msg" id="errorMsg"></p>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'rr_app/js/Login.js' %}"></script>
{% endblock %}
